<!-- Announcement -->
<div class="announcement-bar">
  <p id="announcement-text">Flat sale 50% off</p>
</div>

<!-- Middle Navbar -->
<div class="middle-nav-bar">
  <div class="left-middle-nav">
    <ul>
      <li><a href="#">Tricker's owner club</a></li>
      <li><a href="#">Our Store</a></li>
      <li><a href="#">Shipping & returns</a></li>
    </ul>
  </div>
  <div class="right-middle-nav">
    <ul>
      <li>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-pinterest"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </li>
    </ul>
  </div>
</div>

<!-- Bottom Navbar -->
<div class="bottom-nav-bar">
  <div class="left-bottom-nav">
    <img
      src="https://trickers.com/cdn/shop/files/black_trickers_logo.png?v=1685525529&width=200"
      alt=""
      class="logo"
    />
  </div>
  <div class="center-bottom-nav">
    <ul class="nav-menu">
      <li class="dropdown">
        <a href="#">MEN<i class="fa-solid fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">WOMEN<i class="fa-solid fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">GIFTING<i class="fa-solid fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">SHOE CARE<i class="fa-solid fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">ACCESSORIES<i class="fa-solid fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">OUR WORLD<i class="fa-solid fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
          <li><a href="#">PRODUCT 1</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="right-bottom-nav">
    <ul>
      <li>
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
      </li>
      <% if (isAuthenticated) { %>
      <li>
        <a class="nav-link text-danger" href="/logout">Logout</a>
      </li>
      <% } else { %>
      <li>
        <a class="nav-link" href="/login"><i class="fas fa-user"></i></a>
      </li>
      <% } %>
      <li>
        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
      </li>
    </ul>
  </div>
</div>
